# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#Generated Reports

Car-Insurance-Company-Project-Report.docx
Car-Insurance-Company-Project-Report.pdf
Project-Technologies-Used-Detailed.pdf
project-flowchart.svg
Project-Technologies-Used.pdf
